In [1]:
import pandas as pd

In [5]:
data = {'Name': ['John', 'Emily', 'Ryan'],
        'Age': [25, 30, 27],
        'City': ['New York', 'Los Angeles', 'Chicago']}


df = pd.DataFrame(data)
df

    Name  Age         City
0   John   25     New York
1  Emily   30  Los Angeles
2   Ryan   27      Chicago

In [10]:
indices=df.loc[df['Age']==27]
a=indices.index
a

<class 'list'>

[2]